h1 {
    top: auto;
    width: 100%;
    text-align: center;
    font-size: 800%;
    color: rgb(128, 0, 111);
}

body {
    background-color: deepskyblue;
}

.conteudo1 {
    width: 200px;
    height: 300px;
    position: absolute;
    z-index: 1;
}   

.conteudo2 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 620px;
    left: 230px;
    z-index: 2;
}

.texto1 {
    background-color: deepskyblue;
    position: absolute;
    left: 800px;
    top: 300px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-right: 10px;
}

.texto2 {
    background-color: deepskyblue;
    position: absolute;
    left: 800px;
    top: 395px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-right: 10px;
}

.texto3 {
    background-color: deepskyblue;
    position: absolute;
    left: 800px;
    top: 515px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-right: 10px;
}

.texto4 {
    background-color: deepskyblue;
    position: absolute;
    left: 800px;
    top: 635px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-right: 10px;
}

.texto5 {
    background-color: deepskyblue;
    position: absolute;
    left: 800px;
    top: 870px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-right: 10px;
}

#imagem5 {  
    margin-top: 1000px;
    background-color: deepskyblue;
}

        /*colocando bordas*/
table{
    width: 50%;
    height: 200%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

td {
    border-spacing: 5px;
    text-align: center;
    border-style: solid;
    border-color: rgb(128, 0, 111);
    border: 1px solid rgb(128, 0, 111);
    border-width: thin;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

thead { 
    background-color: rgb(128, 0, 111);
    color:white; 
    text-align:center;
}